.messageSection {
    z-index: 2;
    display: flex;
    align-items: center;
    float: right;
    min-height: 100vh;
    min-width: 25%;
    flex-direction: column;
    border-width: 100px;
    .messageClassName {

    }
    .messageDisplayMessage {
        
    }
    .messageChatBox {

    }
}
