.container {
  .row {
    display: flex;
    padding-left: 5%;
    padding-top: 5%;
  }
  .scheduleCol {
    width: 25%;
    font-size: medium;
  }
  .vertline {
    border-left: 2px solid black;
    height: auto;
  }
  .rect {
    height: 60rem;
    width: 20rem;
    border: 0.5rem solid black;
    margin-left: 1rem;
  }
}
