.chatMessageZAxis {
    position: absolute;
    margin: 0px;
    .chatMessageComponent {
        display: flex;
        flex-direction: row;
    }
    .chatMessageBar1 {
        margin: 0px;
    }
    .chatMessageBar2 {
        padding-left: 5px;
    }
    .chatMessageAccIcon {
        background-color: red;
        border-radius: 50%;
        border: 0.5rem;
        height: 25px;
        width: 25px;
        display: inline-block;
    }
    .chatMessageName {
        display: inline-block;
        font-size: 1rem;
        margin: 5px 0 0 0;
    }
    .chatMessageTime {
        display: inline-block;
        font-size: 0.65rem;
        margin: 0 0 0 5px;
        color: #413F42;
    }
    .chatMessageMessage {
        font-size: 0.82rem;
        color: #7F8487;
        margin: 1px 0 0 1px;
        max-width: 15vw;
    }
}