.container {
  display: inline-block;
  padding: 0.9rem 2rem;
  padding-bottom: 1rem;
  width: 30rem;
  cursor: pointer;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: rgb(235, 234, 234);

  .input {
    border: none;
    width: 90%;
    height: 100%;
    font-size: 13px;
    margin-right: 0.2rem;
    background-color: rgb(235, 234, 234);
  }

  .input:focus {
    outline: none;
  }

  .icon {
    transform: rotate(-30deg);
    font-size: 18px;
    color: rgb(148, 148, 148);
  }
}
